# Laravel default
/vendor
/node_modules
/public/hot
/public/storage
/storage/*.key
/.idea
/.vscode
.env
.env.backup
.env.testing
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.phpunit.result.cache
.php-cs-fixer.cache

# Laravel storage — ignore everything first
/storage/*

# ...except public assets
!/storage/app/
!/storage/app/public/
!/storage/app/public/assets/
!/storage/app/public/assets/**
